<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
	<div class="container">
		<a class="navbar-brand" href="/">
			<img src="/assets/img/rosa-logo+title_v2_respace_60.png" class="d-inline-block align-top" alt="{{site.title}}">			
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav ml-auto">
				{% for item in site.data.nav %}
				<a class="nav-item nav-link {% if page.url == item.link %}active{% endif %}" href="{{item.link}}">{{item.title}}</a>
				{% endfor %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						ABOUT
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item nav-link" href="/about/aim/">AIM</a>
						<a class="dropdown-item nav-link" href="/about/people/">PEOPLE</a>
						<!-- <div class="dropdown-divider"></div>
						<a class="dropdown-item nav-link" href="#">Something else here</a> -->
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Projects
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item nav-link" href="/projects/portfolio/">portfolio</a>
						<a class="dropdown-item nav-link" href="/projects/project00/">Project00</a>
						<a class="dropdown-item nav-link" href="/projects/goldmedalproject/">Gold Medal Project</a>
						<!-- <div class="dropdown-divider"></div>
						<a class="dropdown-item nav-link" href="#">Something else here</a> -->
					</div>
				</li>
				
			</div>
		</div>
	</div>
</nav>
